    prefer-no-csd
    screenshot-path null

    environment {
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "gtk3"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_TYPE "wayland"

        //env = XCURSOR_SIZE,38
        //env = XCURSOR_PATH,/usr/share/icons:~/.local/share/icons
        //env = XCURSOR_THEME,WinSur-white-cursors
        //env = HYPRCURSOR_THEME,WinSur-white-cursors
        //env = HYPRCURSOR_SIZE,38
        //env = EDITOR,nvim
        //env = PAGER,subl
    //QT_SCALE_FACTOR "2"
        // env = QT_AUTO_SCREEN_SCALE_FACTOR,1
        // env = QT_ENABLE_HIGHDPI_SCALING,1
    //ELM_SCALE "2"
    //GDK_SCALE "2" // only int
    //GDK_DPI_SCALE "2" // for text only
        //env = RUSTICL_ENABLE,radeonsi
        //env = HYPRSHOT_DIR,/mnt/data/inbox


    }

    cursor {
        xcursor-theme "capitaine-cursors"
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }
